@model MovieWebsite.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie Search developed by Tushar Karsan.</p>
    <p> &nbsp;</p>
    <p>Select the [Search] menu option above to search for movies.</p>
    <p> &nbsp;</p>
    <p>Project [MovieIndex.Tests] contains some unit tests.</p>
    <p> &nbsp;</p>
    <p>Movie by Year needs to be added here.<br />Something for the future.</p>
</div>
