@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie Search developed by Tushar Karsan.</p>
    <p>Select the [Search] menu option above to search for movies.</p>
</div>
